/**
 * Variables
*/

/* Typography */
/* Breakpoints */
/* Paths */
/* Grid setup */
/* Colour palette */
$black: #000;
$white: #fff;
$light-gray: #f1f1f1;

$body-background-color: rgb(82,79,133);
$body-background-gradient: linear-gradient(270deg,rgba(114,111,158,1) 0%, rgba(49,49,89,1) 35%);
$foreground-color: #fff;
$caption-color: #464646;
$accent-color: #999;
$link-color: #ec1f4e;

/* Components */
